* {
    font-family: "Kalimati",Verdana, sans-serif;
    color: #666666;
}/* 6.72 is less then 7.77*/


h1 {
    color: #666;
    font-size : 48px;
    padding : 24px 24px 24px 24px;
}/* this actually snapped into place*/


h2{
    color: #f07c17;
    font-size: 26px;
}


.box{
    font-size: 20px;
    padding: 48px 10px;
    border: 1px solid #ccc;
}


.features{
    height: 223px;
    width: 375px;
    margin: 15px  15px;
    padding: 30px  30px;
}


ul {
    padding: 8%;
}/* this took alot of fine tunement*/


li {
    padding: 1%;
}


p {
    line-height: 30px;
}